
.footer .mat-footer  .mat-toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #34515f;
    color: white;
    text-align: center;
    margin: 0px;
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }