
 <p>footer works!</p>
<mat-toolbar mat-footer footer #footer>
       
        <mat-toolbar-row>
           
            <mat-divider></mat-divider>
          <span>Custom Toolbar</span>
        </mat-toolbar-row>
      
        <mat-toolbar-row>
          <span>Second Line</span>
          <span class="example-spacer"></span>
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
        </mat-toolbar-row>
      
        <mat-toolbar-row>
          <span>Third Line</span>
          <span class="example-spacer"></span>
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
          
        </mat-toolbar-row>
        <span class="version-info">Nairobi Hustle © 2019</span>
</mat-toolbar>
