/* AppComponent's private CSS styles */
h1 {
    font-size: 1.2em;
    margin-bottom: 0;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  nav a {
    padding: 0px;
    padding-bottom: 0;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 10px;
    background-color: #607d8c;
    border-radius: 4px;
    opacity: 1000;
    
  }
  nav a:visited {
    color: #ffffff;
  }
  a:link{
    color: #ffffff;
  }
  
  nav a.active {
    color: #ffffff;
  }

  .mat-toolbar.mat-primary {
    background:#34515f;
    color: #ffffff; 
  }
  .mat-tab-group{
    background-color: #607d8c;
  }
  .mat-tab-nav-bar{
    background-color: #607d8c;
    
  }
  .mat-tab-link {
    background-color: #ffffff;
    
    
  }