



    <mat-tab-group >
            
        <mat-tab label="How it works"> 
              
                <mat-divider></mat-divider>

                <div class="mdc-components">
                   
                      <div class="mdc-component mdc-component__toolbar">
                        <p>Tool Bar</p>
                        <div class="mdc-component__section mdc-component__section--size-full">
                          <div class="mdc-component__section__content">
                            <div class="mdc-component__section__content__frame">
                              <section class="app-bar"></section>
                              <header class="mdc-toolbar mdc--theme-primary">
                                <section class="mdc-toolbar__section mdc-toolbar__section--align-start">Nairobi Business</section>   
                                
                              </header>
                              <main>
                                <div class="cover-image__frame">
                                  <section class="cover-image">
                                       <p>Business Explanation here </p>
                                  </section>
                              </div>
                                <section class="content">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
                                  mi vitae est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante</section>
                              </main>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                  </div>

                  
        </mat-tab>
        



        <mat-tab label="Second"> 
                
                <div class="mdc-components" >
                    
                        <div>
                          <div class="mdc-component mdc-component__buttons">
                            <p>Business</p>
                            <div class="mdc-component__section">
                              <div class="mdc-component__containers">
                                <div class="mdc-component__containers__primary mdc-component__containers__primary__only">
                                Place your business here   
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <span class="flex"></span>
                        <div>
                          <div class="mdc-component mdc-component__selection">
                            <p>Another Business</p>
                            <div class="mdc-component__section mdc-component__section--size-narrow">
                              <div dir-horizontal="" class="mdc-component__containers">
                                <div class="mdc-component__containers__primary mdc-component__containers__primary__only">
                                  <p style="position: absolute; left: 16px; padding-bottom: 40px;">Primary</p>
                                  <div class="mdc-snackbar" aria-live="assertive" aria-atomic="true" aria-hidden="true">
                                    <div class="mdc-snackbar__text">Single-line snackbar</div>
                                    <div class="mdc-snackbar__action-wrapper"><button type="button" class="mdc-button mdc-snackbar__action-button" style="color: rgb(204, 191, 194);">Action</button></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      
                
                      <div>
                        <div class="mdc-component mdc-component__textfield">
                          <p>Text Field</p>
                          <div class="mdc-component__section mdc-component__section--size-narrow">
                            <div dir-horizontal="" class="mdc-component__containers">
                              <div class="mdc-component__containers__primary mdc-textfield--theme-primary mdc-component__containers__primary__only">
                                <p>Primary</p>
                                <div class="mdc-textfield"><input type="text" id="textfield-primary" class="mdc-textfield__input" placeholder="Single-line input label" value="Input text for a single line"> <label for="textfield-primary" class="mdc-textfield__label mdc-textfield__label--float-above">Single-line input label</label></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                 
                    
                  
                  </div>
                  
               
               
        </mat-tab>

        <mat-tab label="Third" color="black"> 
           <mat-card class="card-demo" [style.backgroundColor]="'grey'">
                <mat-card-title>Grid with Positioning</mat-card-title>
                <mat-card-content class="containerX">
                  <div class="colorNested box" style="height: auto;">
                    <div gdGap="10px" gdColumns="200px 200px 200px"
                         gdAreas="header  header  header | sidebar content content | footer  footer  footer">
                      <div class="box" gdArea="header">Header</div>
                      <div class="box" gdArea="sidebar">Sidebar</div>
                      <div class="box" gdArea="content" style="position: relative;">Content
                        <br /> The four arrows are inline images inside the content area.
                        <img src="http://gridbyexample.com/examples/code/arrow-top-left.png"
                             alt="top left" class="topleft" />
                        <img src="http://gridbyexample.com/examples/code/arrow-top-right.png"
                             alt="top right" class="topright" />
                        <img src="http://gridbyexample.com/examples/code/arrow-bottom-left.png"
                             alt="bottom left" class="bottomleft" />
                        <img src="http://gridbyexample.com/examples/code/arrow-bottom-right.png"
                             alt="bottom right" class="bottomright" /></div>
                      <div class="box" gdArea="footer">Footer</div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
        </mat-tab>

      </mat-tab-group>

      <body>
        Hello
      </body>

      
    

   


